* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

:root {
  --main-color: rgb(129, 0, 0);
  --second-color: #edeae3;
  --text-color: #ff0000;
  --bg-color: rgb(0, 0, 0);
  --box-shadow: 2px 2px 10px 4px rgba(0, 118, 116, 0.15);
  --head-color: rgb(6, 5, 5);
}

section {
  padding: 50px 100px;
}

img {
  width: 100%;
}

body {
  color: var(--text-color);
}

/* navbar start */
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 100px;
  transition: 0.5s linear;
  opacity: 0.6;
  height: 70px;
  background-color: white;
}

header.shadow {
  background-color: var(--head-color);
  box-shadow: var(--box-shadow);
}

.logo img {
  width:150px;
}

.navbar {
  display: flex;
}

.navbar a {
  padding: 9px 17px;
  color: var(--text-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar a:hover {
  background-color: var(--main-color);
  border-radius: 0.3rem;
  transform: 0.2s all linear;
}


header .kotak {
  display: flex;
  justify-content: end;
  gap: 1rem;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: #000040;
  width: 100px;
  height: 30px;
  font-size: 15px;
  cursor: pointer;
}
header .kotak #getstarted {
  border: 2px solid;
  margin: 10px auto;
  width: 70px;
  height: 40px;
  color: var(--text-color);
}
header .kotak #login {
  background-color: var(--text-color);
  margin: 10px auto;
  width: 100px;
  height: 40px;
}
.button:hover {
  background-color: var(--main-color);
}

.header-icon {
  font-size: 22px;
  cursor: pointer;
  z-index: 10001;
  display: flex;
  column-gap: 0.8rem;
}

.header-icon .bx {
  color: var(--bg-color);
}
.header-icon .bx:hover {
  color: var(--main-color);
}

#menu-icon {
  color: var(--bg-color);
  font-size: 24px;
  z-index: 10002;
  cursor: pointer;
  display: none;
}

.search-box {
  display: none;
  /* top: 100%;
       left: 50%;
       transform: translate(-50%); */
  background-color: var(--bg-color);
  width: 100%;
}

.searchbar {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
  display: flex;
  z-index: 3;
  height: 44px;
  background: var(--main-color);
  border: 1px solid var(--head-color);
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: auto;
  max-width: 1000px;
  position: absolute;
  left: 360px;
  top: 355px;
  opacity: 0.9;
  width: 550px;
}

.searchbar:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}

.searchbar-wrapper {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 14px;
}

.searchbar-left {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.search-icon-wrapper {
  margin: auto;
}

.search-icon {
  margin-top: 3px;
  color: #9aa0a6;
  height: 20px;
  line-height: 20px;
  width: 20px;
}

.searchbar-icon {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}

.searchbar-center {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.searchbar-input-spacer {
  color: transparent;
  flex: 100%;
  white-space: pre;
  height: 34px;
  font-size: 16px;
}

.searchbar-input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
  max-width: 100%;
  width: 100%;
}

.searchbar-right {
  display: flex;
  flex: 0 0 auto;
  margin-top: -5px;
  align-items: stretch;
  flex-direction: row;
}

.searchbar-clear-icon {
  margin-right: 12px;
}

/* navbar end */

/* home section start */
.home {
  width: 100%;
  min-height: 100vh;
  background-image: url(img/header-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, auto));
  align-items: center;
  gap: 1.5rem;
}
/* home section end */

/* about start */
.about {
  background-color: white;
  padding: 0 10px;
  width: 100%;
  opacity: 0.9;
}
.textabout{
  font-family: Poppins ;
  font-size: 1rem;
  color: var(--main-color);
  text-align: center;
  font-weight: bold;
}

.about .card {
  background-color: transparent;
  border: none;
  width: 150px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* about end */

/* product start */
#products {
  background-color: black;
  
}
.box{
  background-color: white;
}
.products {
  text-align: center;
  color: var(--main-color);
}
.textproduct{
  font-weight: bold;
  font-family: Bebas neue;
  font-size: 2rem;
}
.textproduct2{
  font-family: Poppins;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 1.5rem;
  margin-top: 2rem;
}

.products-container .box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: black;
  
}

.products-container img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
  background-color: rgb(44, 43, 43);
  border-radius: 0.5rem;
}

.products-container img2 {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
  background-color: rgb(44, 43, 43);
  border-radius: 0.5rem;
}

.products-container .box h3 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 0rem;
}

.products-container .box .content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
}

.products-container .box .content span {
  padding: 0.5rem 1rem;
  color: var(--main-color);
  background-color: black;
  border-radius: 4px;
  font-weight: 900;
}

.products-container .box .content a {
  padding: 0 1rem;
  color: var(--main-color);
  border: 2px solid rgb(31, 31, 31);
  border-radius: 4px;
  text-transform: uppercase;
}

.products-container .box .content a:hover {
  background-color: rgb(166, 2, 2);
  color: var(--bg-color);
  transition: 0.2s all linear;
}

/* product end */

/* costumer start */
.customers{
  background-color: var(--main-color);
  width: 100%;
  min-height: 100vh;
  background-image: url(img/background4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.pricing-table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pricing-tier {
  width: 500px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: start;
}

.pricing-tier.popular {
  background-color: #f9f9f9;
}

.pricing-tier h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.pricing-tier .price {
  font-size: 36px;
  font-weight: bold;
  opacity: 0.8;
}

.pricing-tier .features {
  height: 250px;
  padding: 0;
  margin: 0;
}

.pricing-tier .features li {
  margin-bottom: 10px;
}

.pricing-tier .btn {
  display: block;
  margin-top: 20px;
}

/* costumer end */

.contactus{
  background-color: var(--main-color);
  background-image: url(img/background2.jpg);
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/* footer start */
.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 1.5rem;
  background-color: white;
}

.footer-box h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-box p {
  font-size: 0.938rem;
  margin-bottom: 10px;
}

.social {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.social a .bx {
  font-size: 24px;
  color: var(--text-color);
  padding: 12px;
  background-color: var(--second-color);
  border-radius: 0.5rem;
}

.social a .bx:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
}

.footer-box h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-box li a {
  color: var(--main-color);
}

.footer-box li a:hover {
  color: var(--main-color);
}


/* footer end */

/* copyright */
.copyright {
  padding: 20px;
  text-align: center;
  background-color: black;
}

/* responsive */
@media (max-width: 991px) {
  header {
    padding: 16px 4%;
  }
  section {
    padding: 10px 4%;
  }
  .home-text h1 {
    position: center;
    font-size: 3rem;
    height: 400px;
  }
  .searchbar {
    position: absolute;
    top: -570px;
    left: 0;
    right: 0;
    display: flex;
  }
  .home-img {
    position: absolute;
    left: 70px;
    right: 70px;
    top: 180px;
  }
  .card{
    align-items: center;
    position: absolute;
    block-size: 20rem;
  }
  .kotakbrand {
    position: center;
    right: center;
    top: 100px;
  }
}

@media (max-width: 768px) {
  header {
    padding: 12px 4%;
  }
  #menu-icon {
    display: initial;
  }
  .navbar {
    position: absolute;
    top: -570px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--second-color);
    row-gap: 1.4rem;
    padding: 18px;
    transition: 0.3s;
    text-align: center;
  }
  .navbar a {
    color: var(--text-color);
  }
  .navbar a:hover {
    color: var(--bg-color);
  }
  .navbar.active {
    top: 100%;
  }
  .about {
    align-items: center;
  }
  .card .img{
    align-items: center;
    position: absolute;
    block-size: 20rem;
  }
}

@media (max-width: 360px) {
  header {
    padding: 11px 4%;
  }
  .kotak{
    position: absolute;
    align-items: center;
    right: 20px;
  }
  .logo img {
    width: 45px;
  }
  .home-text {
    padding-top: 15px;
  }
  .home-text h1 {
    font-size: 1.4rem;
  }
  .home-text p {
    font-size: 0.8rem;
    font-weight: 300;
  }
  .about-img {
    order: 2;
  }
  .about-text {
    text-align: center;
  }
  .about-text h2 {
    font-size: 1.2rem;
  }
  .heading h2 {
    font-size: 1.2rem;
  }
  .searchbar {
    width: 50%;
    left: 100px;
    position: center;
  }
}
